<!-- <script>
$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','/page/signout/?state=' + path);
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/user',{'headers':{'Authorization': 'Bearer '+window.gitlab_token}, 'success': function(d){$('#api-output').text(d['name']+': '+d['bio']);}})
    })
} else {
    var url="https://gitlab.com/oauth/authorize?client_id=f0f9a7f373b58a5305e50ff6da6db1adb4784f92e9b91239e011fe0f245a3c00&redirect_uri=https://adithya_gopikrishnan.gitlab.io/parameterpasserpages/page/auth&response_type=token&scope=api&state=" + path;
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script> -->
<script>
$(function(){
    

    // alert("entry here")
    alert(document.cookie)
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
// var tokenitem = 'b480f1ba4898f0d97ecbd7eb8aaddaf329d8ec888a51f368fac668539a0fc96f'
// alert(tokenitem)
if (tokenitem)
{ window.gitlab_token = tokenitem.split('=')[1] } 
else { window.gitlab_token = '' }
// window.gitlab_token = 'b480f1ba4898f0d97ecbd7eb8aaddaf329d8ec888a51f368fac668539a0fc96f'
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    sessionStorage.setItem("windowtoken",window.gitlab_token);
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/projects/20325882/pipeline',{
                'data':JSON.stringify({
                    'ref': 'master',
                    'variables': [{'key':'DESSERT', 'value':$('#dessert').val(), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    }),
    // var select = document.getElementById("dessert"), 
    $.ajax({
            'url':'https://gitlab.com/api/v4/projects/20325882/labels',
            'method':'GET',
            'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
            // 'dataType': 'json',
            success: function(labels) {
                // var label = $.parseJSON(labels);
                // var jsondata = JSON.parse(labels)
                // var label = JSON.stringify(labels[0].name)//working
                var label = []
                var temp
                var temp1
                for(var i=0;i<labels.length;i++)
                {
                    temp=JSON.stringify(labels[i].name)
                    temp1=JSON.parse(temp)
                    label.push(temp1)
                }
                
                // var label = jQuery.parseJSON(labels)
                // var data = labels.
                // response.items.forEach(i=>{
                //     console.log(i.name)
                // })
                // console.log(label)
                // for(var i=0;i<labels.length;i++)
                // {
                //     console.log('success',label[i].name);
                // }
                
                console.log('success',label);
                // console.log(labels.length)
                // alert(data);

            }
            

    })
} else {
    // alert(path)
    var url="https://gitlab.com/oauth/authorize?client_id=f0f9a7f373b58a5305e50ff6da6db1adb4784f92e9b91239e011fe0f245a3c00&redirect_uri=https://adithya_gopikrishnan.gitlab.io/parameterpasserpages/page/auth&response_type=token&scope=api&state=" + path;
    // alert(url)
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
